/* 
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

body {
    margin: 0;
}

.logoSection > h1 {
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    height: 30px;
    width: 175px;
    border: 2px solid black;
    margin: auto;
}

.logoSection {
    position: sticky;
    top: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: white;
    z-index: 1;
}

.mainContent {
    font-family: 'Open Sans', sans-serif;
}

.bannerContent {
    position: relative;
    background-color: yellow;
    height: 800px;
}

.bannerImage {
    float: right;
    height: 800px;
    width: 900px;
    object-fit: cover;
    object-position: 100% 0;
    transform: scaleX(-1);
}

.bannerText > h1 {
    margin-bottom: 0;
}

.bannerText {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 7.5rem;
    left: 20%;
}

.bannerText > h1 {
    margin-bottom: 0;
}

.bannerButton {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    color: white;
    padding: 20px 100px;
    background-color: grey;
}

.flexSection {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #DFDFDE;
}

.flexImage {
    height: 400px;
}

.priceSection {
    text-align: center;
    font-size: 2.5rem;
}

.textSection {
    width: 267px;
    text-align: center;
    font-size: 1.5rem;
}

.buttonSection {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 20px 70px;
    background-color: grey;
    margin: auto;
}

.endSection {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
    width: 50vw;

}

.upperText {
    font-size: 1.5rem;
}

.endButton {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    padding: 20px 70px;
    background-color: yellow;
    margin: auto;
}

/* For 720p Screens */
@media screen and (max-width : 1366px) {

    .bannerContent {
        position: relative;
        background-color: yellow;
        height: 600px;
    }    

    .bannerImage {
        float: right;
        height: 600px;
        width: 650px;
        object-fit: cover;
        object-position: 100% 0;
        transform: scaleX(-1);
    }

    .bannerText {
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        font-size: 5.5rem;
        left: 21%;
    }
    
}